<ion-header>
      <ion-toolbar>
        <ion-title>
          Shopping-list
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <h3>Welcome to Your Shopping List application</h3>
      <div class="ion-padding">
        <ion-button routerLink="/login/" routerDirection= "forward">Login</ion-button>
      </div>
      <div class="ion-padding">
        <ion-button routerLink="/register/" routerDirection= "forward">Register</ion-button>
      </div>
    </ion-content>
    
    <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required>
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
     </form>
    